.p-home__button-contrata {
  background-color: #0063BC;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-top: 20px;
  opacity: 1;
  padding: 10px 42px;
  text-decoration: none; }
.p-home__button-cliente {
  background-color: #FFFFFF;
  border: 2px solid #FF6A00;
  border-radius: 2px;
  color: #FF6A00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
  padding: 10px 42px;
  width: 80%;
  text-decoration: none; }
.p-home__modal-callme {
  background-color: #FF6A00;
  border: none;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 28px auto;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 160px; }
@media (min-width: 768px) {
  .p-home__button-contrata {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    width: 320px;
    padding: 20px 0; }
    .p-home__button-contrata:hover {
      background-color: #FFFFFF;
      border: 3px solid #0063BC;
      color: #0063BC;
      text-decoration: none; }
  .p-home__button-cliente {
    border: 4px solid #FF6A00;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    width: 400px;
    padding: 20px 28px;
    margin-left: 114px;
    margin-bottom: 90px; }
    .p-home__button-cliente:hover {
      background-color: #FF6A00;
      border: 4px solid #FFFFFF;
      color: #FFFFFF;
      text-decoration: none; }
  .p-home__modal-callme {
    margin: 28px auto auto auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 320px; } }

.p-contrata__button-contrata {
  background-color: #0063BC;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 42px;
  border: none; }
.p-contrata__callme {
  background-color: #FF6A00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 80%;
  color: #FFFFFF;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 12px; }
@media (min-width: 768px) {
  .p-contrata__button-contrata {
    background-color: #0063BC;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 18px 78px;
    border: none; }
    .p-contrata__button-contrata:hover {
      background-color: #b2ebf2;
      color: #0063BC; }
  .p-contrata__callme {
    font-size: 16px;
    border: 3px solid #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px; }
  .p-contrata__button-container-tarifa {
    margin-top: 0; } }

.p-atc__banner-button {
  background-color: #0063BC;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 32px; }
.p-atc__help-button {
  background-color: #FFFFFF;
  border: 2px solid #FF6A00;
  border-radius: 2px;
  color: #FF6A00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 32px; }
@media (min-width: 768px) {
  .p-atc__banner-button {
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 62px; }
    .p-atc__banner-button:hover {
      background-color: #FFFFFF;
      color: #0063BC;
      border: 3px solid #0063BC; }
  .p-atc__help-button {
    border: 3px solid #FF6A00;
    border-radius: 4px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 62px;
    margin: 0 auto; }
    .p-atc__help-button:hover {
      background-color: #FF6A00;
      color: #FFFFFF;
      border: 3px solid black; } }

.p-home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; }
.p-home__icon {
  color: #0063BC;
  cursor: pointer;
  transition: transform .3s ease-in-out; }
  .p-home__icon:hover {
    transform: scale3d(1.175, 1.1, 1.1); }
.p-home__logotipo {
  width: 86px; }
@media (min-width: 768px) {
  .p-home__header {
    justify-content: center;
    position: relative;
    padding: 12px; }
  .p-home__logotipo {
    height: 73px;
    width: auto; }
  .p-home__icon {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 28px; } }

.p-contrata__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px; }
.p-contrata__ubicacion {
  width: 4%; }
@media (min-width: 768px) {
  .p-contrata__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px; }
  .p-contrata__ubicacion {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    font-size: 28px;
    width: 2%;
    cursor: pointer; } }

.p-atc__banner {
  background-image: url("../assets/images/atc/edu-lauton-TyQ-0lPp6e4-unsplash.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 68.93px);
  color: #FFFFFF;
  font-family: "Roboto", sans-serif; }
.p-atc__banner-title {
  font-size: 40px;
  line-height: 56px;
  font-weight: bold;
  margin: 0; }
.p-atc__banner-subtitle {
  font-size: 40px;
  line-height: 56px;
  font-weight: 100;
  font-style: italic;
  margin: 0 0 42px 0; }
.p-atc__support {
  font-family: "Roboto", sans-serif;
  margin-bottom: 42px; }
.p-atc__support-paragraph-container {
  margin: 42px 15px 60px 15px; }
.p-atc__support-paragraph {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin: 0; }
  .p-atc__support-paragraph .span-blue {
    font-weight: bold;
    color: #0063BC; }
.p-atc__support-links-list {
  list-style: none;
  width: fit-content;
  text-align: center;
  padding: 0;
  margin: auto; }
.p-atc__support-links-item {
  margin-bottom: 20px; }
.p-atc__support-links-item-p {
  margin: 0;
  margin-top: 20px; }
.p-atc__contact {
  height: 76px;
  background-color: #0063BC;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px; }
  .p-atc__contact div {
    display: flex;
    align-items: center; }
.p-atc__contact-contact-mail {
  margin: 0 0 0 16px;
  font-size: 18px;
  font-weight: 100; }
.p-atc__contact-contact-icon-phone {
  font-size: 32px; }
.p-atc__contact-contact-phone {
  margin: 0 0 0 16px;
  font-size: 18px;
  font-weight: 100; }
.p-atc__help {
  text-align: center; }
.p-atc__help-paragraph {
  margin: 0 15px 60px 15px;
  font-size: 20px;
  line-height: 22px;
  text-align: center; }
  .p-atc__help-paragraph .span-blue {
    font-weight: bold;
    color: #0063BC; }
@media (min-width: 768px) {
  .p-atc__banner {
    background-image: url("../assets/images/atc/edu-lauton-TyQ-0lPp6e4-unsplash@2x.png");
    height: calc(100vh - 97px); }
  .p-atc__banner-title {
    font-size: 80px;
    line-height: 96px; }
  .p-atc__banner-subtitle {
    font-size: 80px;
    line-height: 96px; }
  .p-atc__support-paragraph-container {
    max-width: 908px;
    margin: 42px auto 60px auto; }
  .p-atc__support-paragraph {
    font-size: 22px;
    line-height: 28px; }
  .p-atc__support-links-list {
    display: flex;
    align-items: flex-end;
    width: auto;
    justify-content: center; }
  .p-atc__support-links-item {
    margin-left: 62px;
    margin-bottom: 0; }
  .p-atc__support-links-item:first-of-type {
    margin-left: 0; }
  .p-atc__contact {
    height: 76px;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .p-atc__contact-contact-mail {
    margin: 0 125px 0 46px; }
  .p-atc__contact-contact-phone {
    margin: 0 0 0 16px; }
  .p-atc__help-paragraph {
    margin: 0 auto 60px auto;
    font-size: 22px;
    line-height: 28px;
    max-width: 714px; }
    .p-atc__help-paragraph .span-blue {
      font-weight: bold;
      color: #0063BC; } }

.p-contrata__jumbotron {
  background-image: url("../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.p-contrata__tarifa-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 38px;
  text-align: left; }
.p-contrata__tarifa-paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 8px; }
  .p-contrata__tarifa-paragraph--one {
    font-size: 25px; }
  .p-contrata__tarifa-paragraph--two {
    font-size: 15px; }
  .p-contrata__tarifa-paragraph--three {
    font-size: 15px; }
.p-contrata__contact {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px; }
.p-contrata__contact-contrata {
  background-color: #0063BC;
  border-radius: 23px 23px 0px 3px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 12px 42px;
  margin-bottom: 0; }
.p-contrata__contact-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px 0px 23px 23px; }
.p-contrata__contact-number {
  color: #0063BC;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 80%; }
.p-contrata__contact-specification {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-align: center; }
.p-contrata__input-text {
  width: 80%;
  margin-bottom: 12px;
  font-size: 12px; }
.p-contrata__modal-terms {
  width: 80%;
  display: flex;
  align-items: center; }
.p-contrata__modal-label {
  color: #BFB8AE;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin-left: 6px; }
.p-contrata__packages {
  background-image: url("../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .p-contrata__packages--img2 {
    background-image: url("../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash.png"); }
.p-contrata__packages-button {
  margin-bottom: 20px; }
.p-contrata__tarifas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.p-contrata__tarifas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0px 0px 12px #00000029;
  margin: 12px 24px; }
.p-contrata__producto {
  display: flex;
  justify-content: center;
  align-items: center; }
  .p-contrata__producto--vip {
    justify-content: space-between; }
.p-contrata__tarifas-img {
  width: 20%;
  margin: 0 12px; }
.p-contrata__tarifas-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-left: 24px;
  margin-bottom: 0;
  text-align: center; }
  .p-contrata__tarifas-paragraph--vip {
    margin-left: 0; }
@media (min-width: 768px) {
  .p-contrata__jumbotron {
    background-image: url("../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash@2x.png");
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - 105px); }
  .p-contrata__tarifa-principal {
    align-items: flex-start; }
  .p-contrata__tarifa-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: bold; }
    .p-contrata__tarifa-paragraph--one {
      font-size: 50px;
      margin-bottom: 12px; }
    .p-contrata__tarifa-paragraph--two {
      font-size: 30px;
      margin-bottom: 40px; }
    .p-contrata__tarifa-paragraph--three {
      font-size: 30px;
      margin-bottom: 94px; }
  .p-contrata__contact-contrata {
    font-size: 16px;
    padding: 28px 90px; }
  .p-contrata__contact-container {
    width: 100%; }
  .p-contrata__contact-number {
    font-size: 14px; }
  .p-contrata__modal-label {
    font-size: 10px; }
  .p-contrata__packages {
    background-image: url("../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1@2x.png");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 68px; }
    .p-contrata__packages--img2 {
      background-image: url("/assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash@2x.png");
      margin-top: 42px; }
  .p-contrata__tarifas {
    margin-top: 68px; }
  .p-contrata__tarifas-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    box-shadow: 0px 0px 12px #00000029;
    margin: 30px 0;
    width: 80%; }
  .p-contrata__producto {
    width: 42%; }
  .p-contrata__tarifas-img {
    width: 30%;
    margin: 0; }
  .p-contrata__tarifas-paragraph {
    font-size: 18px;
    width: 100%; } }

.p-home__contrata {
  background-image: url("../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  height: 300px; }
.p-home__cliente {
  background-image: url("../assets/images/home/rayul-_M6gy9oHgII-unsplash.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px; }
.p-home__paragraph-container {
  margin: auto auto 32px 50px; }
.p-home__paragraph {
  background-color: #FFFFFF;
  color: #0063BC;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  text-align: left;
  padding-left: 8px;
  margin-bottom: 4px; }
  .p-home__paragraph--one {
    font-weight: bold;
    width: 180px; }
  .p-home__paragraph--two {
    font-weight: bold;
    width: 204px; }
  .p-home__paragraph--three {
    font-weight: bold;
    width: 142px; }
.p-home__modal {
  background-color: rgba(0, 0, 0, 0.9); }
.p-home__modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center; }
.p-home__modal-content {
  margin: 64px 42px 52px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%; }
.p-home__modal-header {
  border-bottom: none;
  margin-top: 28px; }
.p-home__modal-title {
  color: #0063BC;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }
.p-home__close {
  position: fixed;
  top: 20%;
  right: 15%;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #FFFFFF !important;
  display: flex;
  justify-content: center;
  align-items: center; }
.p-home__X {
  color: #aaaa; }
.p-home__modal-body {
  text-align: center;
  flex: none; }
.p-home__modal-body-paragraph {
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 100%;
  margin: 16px auto 12px; }
.p-home__span {
  color: #0063BC; }
.p-home__modal-input-text {
  border: 2px solid #777777;
  margin: 20px auto auto auto;
  opacity: 1;
  padding: 4px 3px;
  font-size: 12px;
  width: 160px; }
.p-home__modal-terms {
  margin: 12px auto 0 auto;
  width: 160px;
  text-align: left;
  display: flex;
  align-items: center; }
.p-home__modal-label {
  font-size: 10px;
  opacity: 0.5;
  margin-left: 4px;
  margin-bottom: 0; }
@media (min-width: 768px) {
  .p-home__contrata {
    background-image: url("../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash@2x.png");
    height: calc(100vh - 97px);
    position: relative; }
    .p-home__contrata:hover .p-home__background-blue {
      display: none; }
  .p-home__paragraph-container {
    margin: auto auto 88px 102px; }
  .p-home__paragraph {
    font-size: 60px;
    margin-bottom: 6px; }
    .p-home__paragraph--one {
      width: 450px; }
    .p-home__paragraph--two {
      width: 510px; }
    .p-home__paragraph--three {
      width: 358px; }
  .p-home__background-blue {
    background-color: rgba(0, 99, 188, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  .p-home__cliente {
    background-image: url("../assets/images/home/rayul-_M6gy9oHgII-unsplash@2x.png");
    height: calc(100vh - 97px);
    justify-content: left;
    align-items: flex-end; }
    .p-home__cliente:hover .p-home__background-blue {
      display: none; }
  .p-home__modal-dialog {
    max-height: 578px;
    max-width: 578px;
    height: 578px; }
  .p-home__modal-content {
    min-width: 578px;
    height: 578px;
    border-radius: 50%; }
  .p-home__modal-header {
    border-bottom: none; }
  .p-home__modal-title {
    font-size: 41px; }
  .p-home__close {
    position: fixed;
    top: 10%;
    right: 5%;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #FFFFFF !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    .p-home__close:hover .p-home__X {
      color: black;
      transform: scale(2) translate(1%, -10%); }
  .p-home__modal-body {
    text-align: center;
    flex: none; }
  .p-home__modal-body-paragraph {
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 95%;
    margin: 42px auto 12px;
    padding: 0 24px; }
  .p-home__span {
    color: #0063BC; }
  .p-home__modal-input-text {
    border: 3px solid #777777;
    padding: 8px 6px;
    width: 320px; }
  .p-home__modal-terms {
    width: 320px; }
  .p-home__modal-label {
    font-size: 12px; } }

/*# sourceMappingURL=index.css.map */
