.p-home{
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    &__icon{
        color: $colorBlue;
    }
    &__logotipo{
      width: 86px;
    }

    @media (min-width:$md){
        &__header{
            justify-content: center;
            position: relative;
            padding: 12px;
        }

        &__logotipo{
            height: 73px;
            width: auto;
        }

        &__icon{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            font-size: 28px;
        }
    }
}