//CABECERA PARA LA HOMEPAGE:
.p-home{

    //CONTENEDOR DEL HEADER:
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    //ICONO DEL HEADER:
    &__icon{
        color: $colorBlue;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        &:hover{
            transform: scale3d(1.175,1.1,1.1);
        }
    }

    //IMAGEN LOGOTIPO:
    &__logotipo{
      width: 86px;
    }

    // MEDIA QUERYS PARA DISENO CON PANTALLAS CON UN MINIMO DE 768PX DE ANCHO (ORDENADORES):

    @media (min-width:$md){
        //CONTENEDOR DEL HEADER:
        &__header{
            justify-content: center;
            position: relative;
            padding: 12px;
        }

        //IMAGEN LOGOTIPO:
        &__logotipo{
            height: 73px;
            width: auto;
        }

        //ICONO DEL HEADER:
        &__icon{
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            font-size: 28px;
        }
    }
}

//CABECERA PARA LA PAGINA DE CONTRATA-ATC:
.p-contrata{

    //CONTENEDOR DEL HEADER:
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    
    //IMAGEN DE UBICACION
    &__ubicacion{
        width: 4%;
    }


    // MEDIA QUERYS PARA DISENO CON PANTALLAS CON UN MINIMO DE 768PX DE ANCHO (ORDENADORES):

    @media (min-width:$md){
        //CONTENEDOR DEL HEADER:
        &__header{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
        }

        //IMAGEN DE UBICACION
        &__ubicacion{
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translateY(-50%);
            font-size: 28px;
            width: 2%;
            cursor: pointer;
        }
    }
    
}