.p-home{
    &__button-contrata{
      background-color: $colorBlue;
      border: 2px solid $colorWhite;
      border-radius: 2px;
      color: $colorWhite;
      font-family: $roboto;
      font-weight: bold;
      font-size: 12px;
      margin-top: 20px;
      opacity: 1;
      padding: 10px 42px;
      text-decoration: none;
    }

    &__button-cliente{
      background-color: $colorWhite;
      border: 2px solid $colorOrange;
      border-radius: 2px;
      color: $colorOrange;
      font-family: $roboto;
      font-weight: bold;
      font-size: 12px;
      opacity: 1;
      padding: 10px 42px;
      width: 80%;
      text-decoration: none;
    }

    &__modal-callme{
      background-color: $colorOrange;
      border: none;
      color: $colorWhite;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
      margin: 28px auto;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 160px;
    }

    @media (min-width:$md){
      &__button-contrata{
        border: 3px solid $colorWhite;
        border-radius: 4px;    
        font-size: 16px;
        text-align: center;
        width: 320px;
        padding: 20px 0;
        &:hover{
          background-color: $colorWhite;
          border: 3px solid $colorBlue;
          color: $colorBlue;
          text-decoration: none;
        }
      }

        &__button-cliente{
          border: 4px solid $colorOrange;
          border-radius: 4px;
          font-size: 16px;
          line-height: 20px;
          width: 400px;
          padding: 20px 28px;
          margin-left: 114px;
          margin-bottom: 90px;
          &:hover{
            background-color: $colorOrange;
            border: 4px solid $colorWhite;
            color: $colorWhite;
            text-decoration: none;
          }
        }

        &__modal-callme{
          margin: 28px auto auto auto;
          padding-top: 10px;
          padding-bottom: 10px;
          width: 320px;
        }
    }
}

.p-contrata{

  &__button-contrata{
    background-color: $colorBlue;
    color:$colorWhite;
    font-family: $roboto;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 42px;
    border: none;
  }

  &__callme{
   background-color: $colorOrange;
   font-family: $roboto;
   font-weight: bold;
   font-size: 12px;
   width: 80%;
   color: $colorWhite;
   border: none;
   padding-top: 4px;
   padding-bottom: 4px;
   margin-top: 12px;
  }

  @media (min-width:$md){
    &__button-contrata{
      background-color: $colorBlue;
      color:$colorWhite;
      font-family: $roboto;
      font-weight: bold;
      font-size: 16px;
      padding: 18px 78px;
      border: none;
      &:hover{
        background-color: #b2ebf2;
        color: $colorBlue;
      }
    }

    &__callme{
      font-size: 16px;
      border: 3px solid $colorWhite;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &__button-container-tarifa{
      margin-top: 0;
    }
  }
}

.p-atc{
  &__banner-button{
    background-color: $colorBlue;
    border: 2px solid $colorWhite;
    border-radius: 2px;
    color: $colorWhite;
    font-family: $roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 32px;
  }
  &__help-button{
    background-color: $colorWhite;
    border: 2px solid $colorOrange;
    border-radius: 2px;
    color: $colorOrange;
    font-family: $roboto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 32px;
  }

  @media (min-width:$md){
    &__banner-button{
      border: 3px solid $colorWhite;
      border-radius: 4px;
      font-size: 18px;
      line-height: 20px;
      padding: 20px 62px;
      &:hover{
        background-color: $colorWhite;
        color: $colorBlue;
        border: 3px solid $colorBlue
      }
    }
    &__help-button{
      border: 3px solid $colorOrange;
      border-radius: 4px;
      font-size: 18px;
      line-height: 20px;
      padding: 20px 62px;
      margin:0 auto;
      &:hover{
        background-color: $colorOrange;
        color: $colorWhite;
        border: 3px solid black;
      }
    }
  }
}