.p-home{
    &__button-contrata{
      background-color: $colorBlue;
      border: 2px solid $colorWhite;
      border-radius: 2px;
      color: $colorWhite;
      font-size: 12px;
      margin-top: 20px;
      opacity: 1;
      padding: 10px 42px;
    }

    &__button-cliente{
      background-color: $colorWhite;
      border: 2px solid $colorOrange;
      border-radius: 2px;
      color: $colorOrange;
      font-size: 12px;
      opacity: 1;
      padding: 10px 42px;
      width: 80%;
    }

    @media (min-width:$md){
        &__button-contrata{
        border: 3px solid $colorWhite;
        border-radius: 4px;    
         font-size: 16px;
         text-align: center;
         width: 320px;
         padding: 20px 0;
         &:hover{
            background-color: $colorWhite;
            border: 3px solid $colorBlue;
            color: $colorBlue
         }
        }

        &__button-cliente{
            border: 4px solid $colorOrange;
            border-radius: 4px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            width: 328px;
            padding: 20px 28px;
            margin-left: 114px;
            margin-bottom: 90px;
            &:hover{
                background-color: $colorOrange;
                border: 4px solid $colorWhite;
                color: $colorWhite
             }
        }
    }
}