.p-contrata{

  //SECCION PRINCIPAL DE LA PAGINA CONTRATA:
  &__jumbotron{
    background-image: url('../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //CONTENEDOR TARIFA PRINCIPAL:
  &__tarifa-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
    text-align: left;
  }

  //PARRAFO DE LA TARIFA PRINCIPAL:
  &__tarifa-paragraph{
    font-family: $roboto;
    font-weight: bold;
    margin-bottom: 8px;
    
    // MODIFICADORES DE LOS PARRAFOS:
    &--one{
      font-size: 25px;
    }

    &--two{
      font-size: 15px;
    }

    &--three{
      font-size: 15px;
    }
  }

  //CONTENEDOR PARA EL CONTACTO CON EL USUARIO:
  &__contact{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

  }

  //TITULO DEL CONTENEDOR  PARA CONTACTAR CON EL USUARIO:
  &__contact-contrata{
    background-color: $colorBlue;
    border-radius: 23px 23px 0px 3px;
    color: $colorWhite;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 12px 42px;
    margin-bottom: 0;
  }

  //CONTENEDOR DE LOS DATOS A RELLENAR POR EL USUARIO:
  &__contact-container{
    background-color: $colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 3px 0px 23px 23px;
  }

  //PARRAFO DEJANOS TU NUMERO:
  &__contact-number{
    color: $colorBlue;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
  }
  
  //PARRAFO DE ESPECIFICACION:
  &__contact-specification{
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      text-align: center;
  }

  //INPUT TIPO TEXTO PARA EL NUMERO DEL USUARIO:
  &__input-text{
      width: 80%;
      margin-bottom: 12px;
      font-size: 12px;
  }

  //CONTENEDOR DE LOS TERMINOS Y CONDICIONES:
  &__modal-terms{
    width: 80%;
    display: flex;
    align-items: center;
  }

  //ETIQUETA LABEL PARA LOS TERMINOS Y CONDICIONES:
  &__modal-label{
    color: #BFB8AE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 6px;
  }

  //CONTENEDOR DE LOS TIPOS DE PAQUETES:
  &__packages{
    background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img2{
        background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash.png');
    }
  }

  //BOTONES DE PAQUETES:
  &__packages-button{
    margin-bottom: 20px;
  }

  //SECCION DE TARIFAS:
  &__tarifas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //CONTENEDOR DE LAS TARIFAS:
  &__tarifas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    box-shadow: 0px 0px 12px #00000029;
    margin: 12px 24px;
    position: relative;
  }

  //CONTENEDOR DE LOS PRODUCTOS:
  &__producto{
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    &--vip{
        justify-content: space-between;
    }
  }

  // IMAGEN DEL PRODUCTO:
  &__tarifas-img{
      width: 20%;
      margin: 0 12px;
  }
  
  // DESCRIPCION DEL PRODUCTO:
  &__tarifas-paragraph{
    font-family: $roboto;
    font-size: 10px;
    font-weight: bold;
    margin-left: 24px;
    margin-bottom: 0;
    text-align: center;

    &--vip{
        margin-left: 0;
    }
  }

  //CUERPO DEL DROPDOWN DE BOOTSTRAP:
  &__tarifas-dropdown-body{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // ESPECIFICACION DE LA TARIFA EN EL DROPDOWN:
  &__tarifas-dropdown-p{
    font-family: $roboto;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-top: 1rem;
    & span{
      color: #434343;
      font-weight: lighter;
      display:block
    }
  }
  
  //CONTENEDOR DROPDOWN PARA MAS INFORMACION DEL PRODUCTO:
  &__tarifas-dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // IMAGEN DE LA TARIFA EN EL DROPDOWN:
  &__tarifas-dropdown-img{
    width: 20%;
    &--wifi{
      width: 30%;
    }
  }

  // PRIMER CONTENEDOR DEL FOOTER:
  &__footer-first-container{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //CONTENEDOR PARA LA IMAGEN DEL FOOTER:
  &__footer-img-container{
    margin: 12px 0;
    display: flex;
    justify-content: center;
  }

  //IMAGEN DEL FOOTER:
  &__footer-img{
    width: 50%;
    margin: auto;
  }

  //CONTENEDOR DE TERMINOS Y CONDICIONES DEL FOOTER:
  &__footer-terms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // ENLACES DEL FOOTER:
  &__footer-enlaces{
    color: #858585;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-decoration: underline;
    margin-bottom: 8px;
  }

  //CONTENEDOR PARA EL CONTACTO CON EL USUARIO DEL FOOTER:
  &__footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  //MENSAJE AL USUARIO EN EL FOOTER:
  &__footer-contact-p{
    font-size: 12px;
    font-family: $roboto;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    margin-bottom: 0;
    & span{
      color: $colorBlue;
    }
  }
  
  //CONTENEDOR PARA LOS DATOS DEL USUARIO EN EL FOOTER:
  &__footer-contact-solicitud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  //INPUT TIPO TEXTO DEL FOOTER:
  &__footer-contact-input-text{
    font-size: 12px;
    width: 60%;
    margin-bottom: 12px;
    background-color: lightgray;
    border: none;
    padding: 6px 8px;
  }

  //CONTENEDOR PARA LOS TERMINOS Y CONDICIONES DEL FOOTER:
  &__footer-contact-terms{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //INPUT TIPO CHECKBOX DEL FOOTER:
  &__footer-contact-input-checkbox{
    transform: scale(0.7);
  }

  //ETIQUETA LABEL DEL FOOTER:
  &__footer-contact-input-label{
    font-size: 10px;
    font-family: $roboto;
    margin-left: 4px;
    margin-bottom: 0;
  }

    // MEDIA QUERYS PARA DISENO CON PANTALLAS CON UN MINIMO DE 768PX DE ANCHO (ORDENADORES):

    @media (min-width:$md){

      //SECCION PRINCIPAL DE LA PAGINA CONTRATA:
      &__jumbotron{
        background-image: url('../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash@2x.png');
        flex-direction: row;
        justify-content: space-around;
        height:calc(100vh - 105px);
      }

      //CONTENEDOR TARIFA PRINCIPAL:
      &__tarifa-principal{
        align-items: flex-start;
      }

      //PARRAFO DE LA TARIFA PRINCIPAL:
      &__tarifa-paragraph{
        font-family: $roboto;
        font-weight: bold;
            
        //MODIFIADORES DE LOS PARRAFOS:   
        &--one{
          font-size: 50px;
          margin-bottom: 12px;
        }
        
        &--two{
          font-size: 30px;
          margin-bottom: 40px;
        }
        
        &--three{
          font-size: 30px;
          margin-bottom: 94px;
        }
      }

      //TITULO DEL CONTENEDOR  PARA CONTACTAR CON EL USUARIO:
      &__contact-contrata{
        font-size: 16px;
        padding: 28px 90px;
            
      }
  
      //CONTENEDOR DE LOS DATOS A RELLENAR POR EL USUARIO:
      &__contact-container{
        width: 100%;
      }
  
      //PARRAFO DEJANOS TU NUMERO:
      &__contact-number{
        font-size: 14px;
      }

      //ETIQUETA LABEL PARA LOS TERMINOS Y CONDICIONES:
      &__modal-label{
        font-size: 10px;
        margin-bottom: 0;
      }

      //CONTENEDOR DE LOS TIPOS DE PAQUETES:
      &__packages{
        background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1@2x.png');
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 68px;
        &--img2{
          background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash@2x.png');
          margin-top: 42px;
        }
      }

      //SECCION DE TARIFAS:
      &__tarifas{
        margin-top: 68px;
      }

      //CONTENEDOR DE LAS TARIFAS:
      &__tarifas-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        box-shadow: 0px 0px 12px #00000029;
        margin: 30px 0;
        width: 85%;
        &--vip{
          padding: 12px 24px;
        }
      }
      
      &__tarifas-container-article{
        &--vip{
          width: 70%;
        }
      }

      //CONTENEDOR DE LOS PRODUCTOS:
      &__producto{
        justify-content: flex-start;
        
        &--vip{
          margin-left: 12px;
        }
      }

      // IMAGEN DEL PRODUCTO:
      &__tarifas-img{
        width: 20%;
        margin: 0;
        &--vip{
          width: 9%;
          margin: 0 28px;
        }
      }

      // DESCRIPCION DEL PRODUCTO:
      &__tarifas-paragraph{
        font-size: 18px;
        width: 100%;
        text-align: left;
        &--vip{
          text-align: left;
          width: auto;
        }
      }

      //CUERPO DEL DROPDOWN DE BOOTSTRAP
      &__tarifas-dropdown-body{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      // ESPECIFICACION DE LA TARIFA EN EL DROPDOWN:
      &__tarifas-dropdown-p{
        font-size: 18px;
        text-align: left;
        width: 100%;
        margin-bottom: 0;
        & span{
          font-size: 14px;
        }
      }
      &__tarifas-dropdown-container-general{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      //CONTENEDOR DROPDOWN PARA MAS INFORMACION DEL PRODUCTO:
      &__tarifas-dropdown-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 56px;
        margin-top: 28px;
        width: 70%;
      }
    
      // IMAGEN DE LA TARIFA EN EL DROPDOWN:
      &__tarifas-dropdown-img{
        width: 20%;
        margin-right: 12px;
        &--wifi{
          width: 30%;
        }
      }

      // PRIMER CONTENEDOR DEL FOOTER:
      &__footer-first-container{
        flex-direction: row;
        justify-content: space-around;
      }
        
      //CONTENEDOR PARA LA IMAGEN DEL FOOTER:
      &__footer-img-container{
        margin: 0;
        justify-content: flex-start;
      }

      //IMAGEN DEL FOOTER:
      &__footer-img{
        width: 95%;
        margin: 0;
      }

      //CONTENEDOR DE TERMINOS Y CONDICIONES DEL FOOTER:
      &__footer-terms-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin-left: 32px;
      }

      // ENLACES DEL FOOTER:
      &__footer-enlaces{
        color: #858585;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        text-decoration: underline;
        margin-bottom: 8px;
      }

      //CONTENEDOR PARA EL CONTACTO CON EL USUARIO DEL FOOTER:
      &__footer-contact{
        flex-direction: row;
        justify-content: space-around;
        padding: 12px 24px;
      }
      
      //MENSAJE AL USUARIO EN EL FOOTER:
      &__footer-contact-p{
        text-align: left;
        width: 22%;
      }

      //CONTENEDOR PARA LOS DATOS DEL USUARIO EN EL FOOTER:
      &__footer-contact-solicitud{
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
      }

      //INPUT TIPO TEXTO DEL FOOTER:
      &__footer-contact-input-text{
        font-size: 14px;
        width: 30%;
        margin-bottom: 0;
      }

      //CONTENEDOR PARA LOS TERMINOS Y CONDICIONES DEL FOOTER:
      &__footer-contact-terms{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      //INPUT TIPO CHECKBOX DEL FOOTER:
      &__footer-contact-input-checkbox{
        transform: scale(0.7);
      }
      
      //ETIQUETA LABEL DEL FOOTER:
      &__footer-contact-input-label{
        font-size: 10px;
        font-family: $roboto;
        margin-left: 4px;
        margin-bottom: 0;
      }
        
    }

}