.p-contrata{
  &__jumbotron{
    background-image: url('../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tarifa-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
    text-align: left;
  }

  &__tarifa-paragraph{
    font-family: $roboto;
    font-weight: bold;
    margin-bottom: 8px;
    
    &--one{
      font-size: 25px;
    }

    &--two{
      font-size: 15px;
    }

    &--three{
      font-size: 15px;
    }
  }

  &__contact{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

  }

  &__contact-contrata{
    background-color: $colorBlue;
    border-radius: 23px 23px 0px 3px;
    color: $colorWhite;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 12px 42px;
    margin-bottom: 0;
  }

  &__contact-container{
    background-color: $colorWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 3px 0px 23px 23px;
  }

  &__contact-number{
    color: $colorBlue;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
  }

  &__contact-specification{
      color: #000000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      text-align: center;
  }

  &__input-text{
      width: 80%;
      margin-bottom: 12px;
      font-size: 12px;
  }

  &__modal-terms{
    width: 80%;
    display: flex;
    align-items: center;
  }

  &__modal-label{
    color: #BFB8AE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    margin-left: 6px;
  }

  &__packages{
    background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--img2{
        background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash.png');
    }
  }

  &__packages-button{
    margin-bottom: 20px;
  }

  &__tarifas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tarifas-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    box-shadow: 0px 0px 12px #00000029;
    margin: 12px 24px;
    position: relative;
  }

  &__producto{
    display: flex;
    justify-content: center;
    align-items: center;
    &--vip{
        justify-content: space-between;
    }
  }

  &__tarifas-img{
      width: 20%;
      margin: 0 12px;
  }

  &__tarifas-paragraph{
    font-family: $roboto;
    font-size: 10px;
    font-weight: bold;
    margin-left: 24px;
    margin-bottom: 0;
    text-align: center;

    &--vip{
        margin-left: 0;
    }
  }

  &__tarifas-dropdown-body{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tarifas-dropdown-p{
    font-family: $roboto;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    & span{
      color: #434343;
      font-weight: lighter;
      display:block
    }
  }

  &__tarifas-dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tarifas-dropdown-img{
    width: 20%;
    &--wifi{
      width: 30%;
    }
  }

  &__footer-first-container{
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer-img-container{
    margin: 12px 0;
    display: flex;
    justify-content: center;
  }

  &__footer-img{
    width: 50%;
    margin: auto;
  }

  &__footer-terms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer-enlaces{
    color: #858585;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-decoration: underline;
    margin-bottom: 8px;
  }

  &__footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  &__footer-contact-p{
    font-size: 12px;
    font-family: $roboto;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    margin-bottom: 0;
    & span{
      color: $colorBlue;
    }
  }
  
  &__footer-contact-solicitud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__footer-contact-input-text{
    font-size: 12px;
    width: 60%;
    margin-bottom: 12px;
    background-color: lightgray;
    border: none;
    padding: 6px 8px;
  }

  &__footer-contact-terms{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer-contact-input-checkbox{
    transform: scale(0.7);
  }

  &__footer-contact-input-label{
    font-size: 10px;
    font-family: $roboto;
    margin-left: 4px;
    margin-bottom: 0;
  }

    // MEDIA QUERYS PARA DISENO CON PANTALLAS CON UN MINIMO DE 768PX DE ANCHO (ORDENADORES):

    @media (min-width:$md){
      &__jumbotron{
        background-image: url('../assets/images/contrata/drew-graham-PVyhz0wmHdo-unsplash@2x.png');
        flex-direction: row;
        justify-content: space-around;
        height:calc(100vh - 105px);
      }

      &__tarifa-principal{
        align-items: flex-start;
      }

      &__tarifa-paragraph{
        font-family: $roboto;
        font-weight: bold;
            
            
        &--one{
          font-size: 50px;
          margin-bottom: 12px;
        }
        
        &--two{
          font-size: 30px;
          margin-bottom: 40px;
        }
        
        &--three{
          font-size: 30px;
          margin-bottom: 94px;
        }
      }

      &__contact-contrata{
        font-size: 16px;
        padding: 28px 90px;
            
      }

      &__contact-container{
        width: 100%;
      }

      &__contact-number{
        font-size: 14px;
      }

      &__modal-label{
        font-size: 10px;
      }

      &__packages{
        background-image: url('../assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash-1@2x.png');
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 68px;
        &--img2{
          background-image: url('/assets/images/contrata/nordwood-themes-bJjsKbToY34-unsplash@2x.png');
          margin-top: 42px;
        }
      }

      //tarifas

      &__tarifas{
        margin-top: 68px;
      }

      &__tarifas-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
        box-shadow: 0px 0px 12px #00000029;
        margin: 30px 0;
        width: 85%;
      }

      &__tarifas-container-article{
        //width: 80%;
      }

      &__producto{
        width: 100%;
      }
        
      &__tarifas-img{
        width: 20%;
        margin: 0;
      }
        
      &__tarifas-paragraph{
        font-size: 18px;
        width: 100%;   
      }

      //DROPDOWN:

      &__tarifas-dropdown-body{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      &__tarifas-dropdown-p{
        font-size: 18px;
        text-align: left;
        width: 100%;
        margin-bottom: 0;
        & span{
          font-size: 14px;
        }
      }
      &__tarifas-dropdown-container-general{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    
      &__tarifas-dropdown-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 56px;
        margin-top: 28px;
        width: 70%;
      }
    
      &__tarifas-dropdown-img{
        width: 20%;
        margin-right: 12px;
        &--wifi{
          width: 30%;
        }
      }

      // FOOTER:

      &__footer-first-container{
        flex-direction: row;
        justify-content: space-around;
      }
      
      &__footer-img-container{
        margin: 0;
        justify-content: flex-start;
      }
      
      &__footer-img{
        width: 95%;
        margin: 0;
      }
      
      &__footer-terms-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 25%;
        margin-left: 32px;
      }
      
      &__footer-enlaces{
        color: #858585;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 10px;
        text-decoration: underline;
        margin-bottom: 8px;
      }
      
      &__footer-contact{
        flex-direction: row;
        justify-content: space-around;
        padding: 12px 24px;
      }
      
      &__footer-contact-p{
        text-align: left;
        width: 22%;
      }
        
      &__footer-contact-solicitud{
        flex-direction: row;
        justify-content: space-between;
        width: 60%;
      }
      
      &__footer-contact-input-text{
        font-size: 14px;
        width: 30%;
        margin-bottom: 0;
      }
      
      &__footer-contact-terms{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      &__footer-contact-input-checkbox{
        transform: scale(0.7);
      }
      
      &__footer-contact-input-label{
        font-size: 10px;
        font-family: $roboto;
        margin-left: 4px;
        margin-bottom: 0;
      }
        
    }

}