.p-home{
  
  &__contrata{
    background-image: url('../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 300px;
  }

  &__cliente{
    background-image: url('../assets/images/home/rayul-_M6gy9oHgII-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }

  &__paragraph-container{
    margin: auto auto 32px 50px;
  }

  &__paragraph{
    background-color: $colorWhite;
    color: $colorBlue;
    font-family: $roboto;
    font-size: 24px;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 4px;
    &--one{
      font-weight: bold;
      width: 180px;
    }
    &--two{
      font-weight: bold;
      width: 204px;
    }
    &--three{
      font-weight: bold;
      width: 142px;
    }
  }

  &__modal{
    background-color: rgba($color: #000000, $alpha: 0.9);
  }

  &__modal-content{
    margin: 64px 42px 52px;
    border-radius: 16px;
  }

  @media (min-width:$md){

    &__contrata{
        background-image: url('../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash@2x.png');
        height:calc(100vh - 97px);
        position: relative;
        &:hover{
            .p-home__background-blue{
               display: none;
            }
        }
    }

    &__paragraph-container{
        margin: auto auto 88px 102px;

    }

    &__paragraph{
        font-size: 60px;
        margin-bottom: 6px;
        &--one{
            width: 450px;
        }
        &--two{
            width: 510px;
        }
        &--three{
            width: 358px;
        }
    }

    &__background-blue{
        background-color: rgba($color: $colorBlue, $alpha: 0.85);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__cliente{
        background-image: url('../assets/images/home/rayul-_M6gy9oHgII-unsplash@2x.png');
        height:calc(100vh - 97px);
        justify-content: left;
        align-items: flex-end;
        &:hover{
            .p-home__background-blue{
               display: none;
            }
        }
    }

    &__modal-dialog{
     max-height: 578px;
     max-width: 578px;
     height: 578px;
    }

    &__modal-content{
        margin: 64px 42px 52px;
        min-width: 578px;
        height: 578px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__modal-header{
      border-bottom: none;
    }

    &__modal-title{
      color: $colorBlue;
      font-size: 41px;
      font-family: $roboto;
      font-weight: bold;
    }

    &__close{
      position: fixed;
      top: 10%;
      right:5%;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      background-color: $colorWhite !important;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        .p-home__X{
          color: black;
          transform: scale(2) translate(1%, -10%);
        }
      }
    }

    &__X{
     color: #aaaa;
    }

    &__modal-body{
      text-align: center;
      flex: none;
    }

    &__modal-body-paragraph{
      text-align: center;
      font-size: 24px;
      font-family: $roboto;
      font-weight: bold;
      width: 95%;
      margin: 42px auto 12px;
      padding: 0 24px;
    }

    &__span{
      color: $colorBlue;
    }

    &__modal-input-text{
      border: 3px solid #777777;
      margin: 20px auto auto auto;
      opacity: 1;
      padding: 8px 6px;
      width: 320px;
    }

    &__modal-terms{
      margin: 12px auto 0 auto;
      width: 320px;
      text-align: left;
      display: flex;
      align-items: center;
    }

    &__modal-label{
      font-size: 12px;
      opacity: 0.5;
      margin-left: 4px;
      margin-bottom: 0;
    }

  }
}

