.p-home{
  
  &__contrata{
    background-image: url('../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    width: 100%;
    height: 300px;
  }

  &__cliente{
    background-image: url('../assets/images/home/rayul-_M6gy9oHgII-unsplash.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }

  &__paragraph-container{
    margin: auto auto 32px 50px;
  }

  &__paragraph{
    background-color: $colorWhite;
    color: $colorBlue;
    font-family: $roboto;
    font-size: 24px;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 4px;
    &--one{
        font-weight: bold;
        width: 180px;
    }
    &--two{
        font-weight: bold;
        width: 204px;
    }
    &--three{
        font-weight: bold;
        width: 142px;
    }
  }

  @media (min-width:$md){

    &__contrata{
        background-image: url('../assets/images/home/brooke-cagle-g1Kr4Ozfoac-unsplash@2x.png');
        height:calc(100vh - 97px);
        position: relative;
        &:hover{
            .p-home__background-blue{
               display: none;
            }
        }
    }

    &__paragraph-container{
        margin: auto auto 88px 102px;
    }

    &__background-blue{
        background-color: rgba($color: $colorBlue, $alpha: 0.85);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__cliente{
        background-image: url('../assets/images/home/rayul-_M6gy9oHgII-unsplash@2x.png');
        height:calc(100vh - 97px);
        justify-content: left;
        align-items: flex-end;
        &:hover{
            .p-home__background-blue{
               display: none;
            }
        }
    }


    &__paragraph{
        font-size: 60px;
        padding-left: 8px;
        margin-bottom: 6px;
        &--one{
            width: 450px;
        }
        &--two{
            width: 510px;
        }
        &--three{
            width: 358px;
        }
    }
  }
}